

@font-face {
    font-family: 'minecraft';
    src: url('font.ttf');
    
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'minecraft';
}

body{
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: 'Segoe UI', Tahoma, sans-serif; */
    background-color: #181818;
    color: #fff;
    user-select: none;
}
 



#temp_slot{
    width: 16px;
    height: 16px;
    /* background-color: red; */
    z-index: 5;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}

#tooltip{
    z-index: 5;
    width: fit-content;
    background-color: #0d020f;
    border: 2px solid #210551;
    font-size: 8px;
    padding: 4px;
    padding-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    visibility: hidden;
}







#gameui_screen{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
 


#gameui_container{
    width: 195px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}


.gameui_wrapper{
    width: 195px;
    height: 136px;
    z-index: 1;
    display: none;
    image-rendering: pixelated;
}


.gameui_active{
    display: flex;
}






/* SLOT */
.slot{
    width: 16px;
    height: 16px;
    /* background-color: red; */
    /* background-color: #8b8b8b; */
    margin-right: 2px;
    overflow: hidden;
}

.slot:hover{
    opacity: 0.5;
    background-color: #fff;
}



/* ITEM ICON */

.item{
    width: 100%;
    height: 100%;
    background-image: url("creative_inventory/InvSprite.png");
    background-size: 512px 1824px;
    background-position: calc(-16px * 0) calc(-16px * 0);
    image-rendering: pixelated;
    position: relative;
}


/* ITEM VALUE */
.item-value{
    font-size: 7px;
    position: relative;
    right: 0;
    top: 0;
    text-shadow: 1px 1px #3f3f3f;
    padding: 7px 4px;
    padding-right: 0;
    text-align: right;
}










/* TABs */

#tab_wrapper{
    position: absolute;
    left: 0;
    top: -26px;
}

.tab_row{
    display: flex;  
}





.tab{
    width: 28px;
    height: 32px;
    /* background-color: royalblue; */
    image-rendering: pixelated;
    background-image: url("creative_inventory/tabs.png");
    position: relative;
    /* z-index: -1; */
    margin-right: 1px; 
    background-position-y: -2px;
    display: flex;
    justify-content: center;
    align-items: center; 
}



.tab_icon{
    width: 16px;
    height: 16px;
    /* background-color: green; */

    background-image: url("creative_inventory/InvSprite.png");
    background-size: 512px 1824px;
    background-position: calc(-16px * 0) calc(-16px * 0);
    image-rendering: pixelated;
    position: relative;

}


.tab_row:first-child .tab:nth-child(5){
    margin-left: 22px;
}

.tab_row:last-child .tab:last-child{
    margin-left: 22px;
}




.tab_active{
    background-position-y: -32px;
    background-position-x: -28px;
    z-index: 2;
    height: 32px;
    transform: translateY(-2px);
}



.tab_row:first-child .tab_active{
    padding-top: 5px;
}


.tab_row:last-child{
    margin-top: 126px;
}

.tab_row:last-child .tab{
    background-position-y: -62px;
}

.tab_row:last-child .tab_active{ 
    background-position-y: -96px;
    transform: translateY(0px);
}



.tab_row .tab_active:first-child{
    background-position-x: 0px;
}
.tab_row .tab_active:last-child{
    background-position-x: -56px;
}






/* SEARCH INPUT */
#input_wrapper{
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
   
}


#tab_label{
    font-size: 8px;
    color: #404040;
    padding-left: 8px;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 4px;
}


#input_element{
    outline: none;
    border: none;
    width: 88px;
    height: 10px;
    margin-right: 26px;
    background-color: transparent;
    color: #fff;
    font-size: 8px; 
    padding: 5px 2px 0;
    text-shadow: 1px 1px #3f3f3f;
    display: none;
}
 











/* SCROLL */
#scroll_wrapper{
    z-index: 2;
    position: absolute;
    right: 8px;
    top: 18px;
}


#scroll_track{
    width: 12px;
    height: 110px;
    position: relative;
}


#scroll_thumb{
    width: 12px;
    height: 15px;
    background-image: url("creative_inventory/scroll_vertical.png");
    image-rendering: pixelated; 
    position: absolute; 
    top: 0;
}


.scroll_inactive{
    background-position-x: 100%;
}










/* ARMOR SLOTS */
#armor_slot_list{
    display: none;
    z-index: 2;
    position: absolute;
}
#armor_slot_list .slot{
    /* background-color: aqua; */
    position: absolute;
}









/* INVENTORY SLOTS ITEMS */

#inventory_slot_list{
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(9, 18px);
    grid-template-rows: repeat(5, 18px);
    position: absolute;
    /* background-color: #8b000075; */
    left: 9px;
    top: 54px;
    justify-content: space-between;

    display: none;
}








/* HAND */
#hand_slot_list{
    z-index: 2;
    display: flex;
    position: absolute;
    left: 9px;
    bottom: 8px;
}












/* ITENS */
#itens_slot_list{
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(9, 18px);
    grid-template-rows: repeat(5, 18px);
    position: absolute;
    /* background-color: #8b000075; */
    left: 9px;
    top: 18px;
    justify-content: space-between;
}
 